﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coy & Squeal</title>
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/BlogSite.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>

<body>

    <!-- Placeholder for banner. -->
    <a href="@Url.Action("Index", "Home", null)">
        <div class="jumbotron banner">
        </div>
    </a>

    <!-- Sidebar -->
    <!-- Start of 'main' body -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="content">
                    @RenderBody()
                </div>
            </div>
            <!-- end of main content-->
            <!-- start of sidebar -->
            <div class="col-md-4">
                <div id="sidebar">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="post-subtitle" style="margin-top:0px;">About</h3>
                            <p class="post-preview">
                            There's an old joke.  Uh, two elderly
                            women are at a Catskills mountain
                            resort, and one of 'em says: "Boy, the
                            food at this place is really terrible."
                            The other one says, "Yeah, I know, and
                            such ... small portions." Well, that's
                            essentially how I feel about this website</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="post-subtitle" style="margin-top:0px;">Social</h3>
                        <div class="row">
                            <p class="post-preview">
                            <div class="col-md-4" style="padding-left:60px;">
                                <a href="https://www.instagram.com/coyandsqueal/?hl=en">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="col-md-4" style="padding-left:40px;">
                                <a href="https://twitter.com/coyandsquealed">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://www.reddit.com/r/CoyandSqueal/">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-reddit-alien fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </div>
                              </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="post-subtitle" style="margin-top:0px;">Search</h3>
                        <p class="post-preview">
                            @using (Html.BeginForm("Filter", "Home", FormMethod.Post))
        {
                    <div class="form-group">
                        <input type="text" name="Contains" placeholder="Search..." class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
}
                        </p>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="post-subtitle" style="margin-top:0px;">Filters</h3>
                        <p class="post-preview">
                        <a href="@Url.Action("Filter", "Home", new { @YearCreated = DateTime.Now.Year })">By Year</a><br />
                        <a href="@Url.Action("Filter", "Home", new { @YearCreated = DateTime.Now.Year })">By Month</a>
                            </p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="post-subtitle" style="margin-top:0px;">Categories</h3>
                        <p class="post-preview">

                            @foreach (var item in ViewBag.Categories)
        {
                    <a href="@Url.Action("Filter", "Home", new { @CategoryID = item.ID })">@item.Name</a>
                    @:&emsp;
}
                            </p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="post-subtitle" style="margin-top:0px;">Tags</h3>
                        <p class="post-preview">
                            @foreach (var item in ViewBag.Tags)
    {
                        <a href="@Url.Action("Filter", "Home", new { @TagID = item.ID })">@item.Name</a>
                        @:&emsp;
}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>