﻿@model CoyAndSqueal.Models.Articles.Article

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Article</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @rows="28" })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
                         <label>Categories:</label>
            <table>
                <tr>
                    @{
                        int cnt = 0;
                        List<CoyAndSqueal.ViewModels.AssignedCategoryData> categories = ViewBag.Categories;

                        foreach (var category in categories)
                        {
                            if (cnt++ % 3 == 0)
                            {
                                @:</tr><tr>
                            }
                            @:<td style="padding-right:15px;">
                                <input type="checkbox"
                                       name="selectedCategories"
                                       value="@category.CategoryID"
                                       @(Html.Raw(category.Assigned ? "checked=\"checked\"" : "")) />
                                @category.Name
                                @:</td>
                        }
                        @:</tr>
                    }
                </table>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                 <label>Tags:</label>
                <table>
                    <tr>
                        @{
                            int cnty = 0;
                            List<CoyAndSqueal.ViewModels.AssignedTagData> tags = ViewBag.Tags;

                            foreach (var tag in tags)
                            {
                                if (cnty++ % 3 == 0)
                                {
                                    @:</tr><tr>
                                }
                                @:<td>
                                    <input type="checkbox"
                                           name="selectedTags"
                                           value="@tag.TagID"
                                           @(Html.Raw(tag.Assigned ? "checked=\"checked\"" : "")) />
                                    @tag.Name
                                    @:</td>
                            }
                            @:</tr>
                        }
                    </table>
                </div>
            </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
