﻿@model CoyAndSqueal.Models.Articles.Article

@{
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

<div id="fb-root"></div>
<script>
(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.12';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<div class="post-heading">
    <h1>@Html.DisplayFor(model => model.Title)</h1>
    <span class="meta">@Html.DisplayFor(model => model.DateCreated)</span><br />
    <span class="meta">Last Edited: @Html.DisplayFor(model => model.DateLastEdited)</span>
</div>
<br />
<br />
<article>
    <div class="container">
        <div class="row">
            @Html.Raw(Model.Content)
        </div>
     </div>
</article>
<br />
Tags:
@foreach (CoyAndSqueal.Models.Tags.Tag tag in Model.Tags)
{
    @tag.Name
    @:&emsp;
}
<br />
Categories:
@foreach (CoyAndSqueal.Models.Category category in Model.Categories)
{
    @category.Name
    @:&emsp;
}
<hr />
<br>
<div class="fb-comments" data-href="@Request.Url.AbsoluteUri" data-numposts="5"></div>