﻿@model PagedList.IPagedList<CoyAndSqueal.Models.Articles.Article>
@using PagedList.Mvc


@{
    ViewBag.Title = "Filter";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

@foreach (var item in Model)
{
    <div class="well">
        <div class="post-preview">
            <h2 class="post-title">
                <a href="@Url.Action("Details", "Home", new { id = item.ID })">@Html.DisplayFor(modelItem => item.Title)</a>
            </h2>
            <h3 class="post-preview">
                @Html.DisplayFor(modelItem => item.Description)
            </h3>
            <p class="post-meta">
                @Html.DisplayFor(modelItem => item.DateCreated)
            </p>
        </div>
    </div>
}

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))