﻿@model PagedList.IPagedList<CoyAndSqueal.Models.Articles.Article>
@using PagedList.Mvc

@{
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

@{
    ViewBag.Title = "Home Page";
}

@foreach (var item in Model)
{
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="post-preview">
            <h2 class="post-title">
                <a href="@Url.Action("Details", "Home", new { id = item.ID })"><strong>@Html.DisplayFor(modelItem => item.Title)</strong></a>
            </h2>
            <article>
            @Html.Raw(item.Content)
            </article>
            <p class="post-meta">
                @Html.DisplayFor(modelItem => item.DateCreated)
                </p>
        </div>
            </div>
    </div>
}

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))
